.player-info-block {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.player-name {
    background-size: cover;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
}
