.page-layout {
  min-height: 100vh;
  min-width: 1366px;
}

.logo {
  height: 32px;
  margin: 16px;
}

.page-layout__footer {
  text-align: center;
}

.player-icon{
  background-size: cover;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
