.private-layout {
  min-height: 100vh;
  min-width: 1024px;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 32px;
  margin: 16px;
}

.page-layout__footer {
  text-align: center;
}

.userInfo{
  color: white;
}

.player-info-block {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.player-icon{
  background-size: cover;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
