.maze {
    display: flex;
    flex-direction: column;
}

.maze-row {
    display: flex;
}

.maze-cell {
    width: 56px;
    height: 56px;
}

.wall {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    background-color: transparent;
}

.path, .exit {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player1 {
    background-size: cover;
    background-repeat: no-repeat;
}

.player2 {
    background-size: cover;
    background-repeat: no-repeat;
}
