.maze {
    display: flex;
    flex-direction: column;
}

.maze-row {
    display: flex;
}

.maze-cell {
    width: 48px;
    height: 48px;
}

.wall {
    background-color: black;
}

.hidden {
    background-color: white;
}

.path, .exit {
    background-color: white;
}

.player1 {
    background-size: cover;
    background-repeat: no-repeat;
}

.player2 {
    background-size: cover;
    background-repeat: no-repeat;
}
